In [1]:
import pandas as pd
import numpy as np

from graph1_app import artist

In [2]:
events_df = pd.read_csv('./data/events.csv')
events_df.head()

,event_id,name,type,url,locale,start_date,end_date,timezone,status,span_multiple_days,venue_id
0,Z698xZ2qZa17W,Paul McCartney: GOT BACK TOUR,event,https://www.ticketmaster.es/event/paul-mccartn...,en-us,2024-12-09,2024-12-09T20:00:00Z,Europe/Madrid,onsale,False,Z198xZ2qZkek
1,Z698xZ2qZa1Ad,Paul McCartney: GOT BACK TOUR,event,https://www.ticketmaster.es/event/paul-mccartn...,en-us,2024-12-10,2024-12-10T20:00:00Z,Europe/Madrid,onsale,False,Z198xZ2qZkek
2,Z698xZ2qZa13A,Imagine Dragons: LOOM World Tour | VIP Packages,event,https://www.ticketmaster.es/event/imagine-drag...,en-us,2025-06-28,2025-06-28T19:30:00Z,Europe/Madrid,onsale,False,Z598xZ2qZ6Fe1
3,Z698xZ2qZa18q,Imagine Dragons: LOOM World Tour,event,https://www.ticketmaster.es/event/imagine-drag...,en-us,2025-06-28,2025-06-28T19:30:00Z,Europe/Madrid,onsale,False,Z598xZ2qZ6Fe1
4,Z698xZ2qZa13R,Imagine Dragons: LOOM World Tour | VIP Packages,event,https://www.ticketmaster.es/event/imagine-drag...,en-us,2025-07-01,2025-07-01T19:30:00Z,Europe/Madrid,onsale,False,Z598xZ2qZd7eF

In [3]:
price_ranges_df = pd.read_csv('./data/price_ranges.csv')
price_ranges_df.head()

        event_id                     type currency  min_price  max_price
0  Z698xZ2qZa17W  standard including fees      EUR       51.0      554.5
1  Z698xZ2qZa17W                 standard      EUR       45.0      500.0
2  Z698xZ2qZa1Ad  standard including fees      EUR       51.0      558.5
3  Z698xZ2qZa1Ad                 standard      EUR       45.0      500.0
4  Z698xZ2qZa13A                 standard      EUR      297.0     6757.5

In [5]:
venues_df = pd.read_csv('./data/venues.csv')
venues_df.head()

,venue_id,name,city,state,country,address,postalCode,latitude,longitude,upcomingEvents
0,Z198xZ2qZkek,WiZink Center,Madrid,Madrid,Spain,"Av. Felipe II, s/n",28009.0,40.42394,-3.67580,37
1,Z198xZ2qZkek,WiZink Center,Madrid,Madrid,Spain,"Av. Felipe II, s/n",28009.0,40.42394,-3.67580,37
2,Z598xZ2qZ6Fe1,Estadio Riyadh Air Metropolitano,Madrid,Madrid,Spain,"Av. de Luis Aragonés, 4",28022.0,40.43624,-3.59947,8
3,Z598xZ2qZ6Fe1,Estadio Riyadh Air Metropolitano,Madrid,Madrid,Spain,"Av. de Luis Aragonés, 4",28022.0,40.43624,-3.59947,8
4,Z598xZ2qZd7eF,Estadi Olímpic Lluis Companys,Barcelona,Barcelona,Spain,"Passeig Olímpic, 5-7",8038.0,41.36476,2.15565,2

In [6]:
events_df['type'].unique()

array(['event'], dtype=object)

There is no clear relation between artists and events, so we will have to search it by artist name in the artists.csv file.

In [7]:
artist_df = pd.read_csv('./data/artists.csv')
artist_df.head()

,artist_id,name,type,locale,external_links
0,K8vZ9171uq0,Paul McCartney,attraction,en-us,{'youtube': [{'url': 'https://www.youtube.com/...
1,K8vZ9171uq0,Paul McCartney,attraction,en-us,{'youtube': [{'url': 'https://www.youtube.com/...
2,K8vZ917GSz7,Imagine Dragons,attraction,en-us,{'youtube': [{'url': 'https://www.youtube.com/...
3,K8vZ917GSz7,Imagine Dragons,attraction,en-us,{'youtube': [{'url': 'https://www.youtube.com/...
4,K8vZ917GSz7,Imagine Dragons,attraction,en-us,{'youtube': [{'url': 'https://www.youtube.com/...